In [1]:
def make_closure(par):
    loc = par
    
    def power(p):
        return p**loc
    return power

f4 = make_closure(4)
f5 = make_closure(5)

for i in range(20):
    print(i, f4(i), f5(i))

0 0 0
1 1 1
2 16 32
3 81 243
4 256 1024
5 625 3125
6 1296 7776
7 2401 16807
8 4096 32768
9 6561 59049
10 10000 100000
11 14641 161051
12 20736 248832
13 28561 371293
14 38416 537824
15 50625 759375
16 65536 1048576
17 83521 1419857
18 104976 1889568
19 130321 2476099

In [2]:
def fibonacci(n):
    p = pp = 1
    for i in range (n):
        if i in[0, 1]:
            yield 1
        else:
            n = p + pp
            pp, p = p, n
            
            yield n
            
fibs = list(fibonacci(20))
print(fibs)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [3]:
list_2 = []

for ex in range(7):
    list_2.append(20 ** ex)

list_3 = [20 ** ex for ex in range(10)]

print(list_2)
print(list_3)

[1, 20, 400, 8000, 160000, 3200000, 64000000]
[1, 20, 400, 8000, 160000, 3200000, 64000000, 1280000000, 25600000000, 512000000000]

In [5]:
from datetime import date

today = date.today()

print("Today:", today)
print("Year:", today.year)
print("Month:", today.month)
print("Day:", today.day)

Today: 2023-12-18
Year: 2023
Month: 12
Day: 18

In [6]:
from datetime import date
import time

timestamp = time.time()
print("Timestamp:", timestamp)

d = date.fromtimestamp(timestamp)
print("Date:", d)

Timestamp: 1702903630.4575846
Date: 2023-12-18

In [7]:
from datetime import date

d = date(1991, 2, 5)
print(d)

d = d.replace(year=1992, month=1, day=16)
print(d)

1991-02-05
1992-01-16

In [9]:
from datetime import time

t = time(14, 53, 20, 1)

print("Time:", t)
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)

Time: 14:53:20.000001
Hour: 14
Minute: 53
Second: 20
Microsecond: 1

In [10]:
from datetime import date

d = date(2019, 11, 4)
print(d.weekday())

0

In [1]:
import time

class Student:
    def take_nap(self, seconds):
        print("I'm very tired. I have to take a nap. See you later.")
        time.sleep(seconds)
        print("I slept well! I feel great!")

student = Student()
student.take_nap(7)

I'm very tired. I have to take a nap. See you later.
I slept well! I feel great!

In [6]:
import time

timestamp = 1572879179
print(time.ctime(timestamp))

Mon Nov  4 20:22:59 2019

In [10]:
from datetime import time

t = time(14, 55, 20, 1)

print("Time:", t)
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)

Time: 14:55:20.000001
Hour: 14
Minute: 55
Second: 20
Microsecond: 1

In [8]:
import time

timestamp = 1572879180
print(time.gmtime(timestamp))
print(time.localtime(timestamp))

time.struct_time(tm_year=2019, tm_mon=11, tm_mday=4, tm_hour=14, tm_min=53, tm_sec=0, tm_wday=0, tm_yday=308, tm_isdst=0)
time.struct_time(tm_year=2019, tm_mon=11, tm_mday=4, tm_hour=20, tm_min=23, tm_sec=0, tm_wday=0, tm_yday=308, tm_isdst=0)

In [9]:
import time

timestamp = 1572879180
st = time.gmtime(timestamp)

print(time.asctime(st))
print(time.mktime((2019, 11, 4, 14, 53, 0, 0, 308, 0)))

Mon Nov  4 14:53:00 2019
1572859380.0

In [11]:
from datetime import datetime

print("today:", datetime.today())
print("now:", datetime.now())
print("utcnow:", datetime.utcnow())

today: 2023-12-21 09:29:14.117439
now: 2023-12-21 09:29:14.117439
utcnow: 2023-12-21 03:59:14.117439

In [13]:
from datetime import date

d = date(2020, 5, 4)
print(d.strftime('%Y/%m/%d'))

2020/05/04

In [21]:
import time

timestamp = 1572879180
st = time.gmtime(timestamp)

print(time.strftime("%Y/%m/%d %H:%M:%S", st))
print(time.strftime("%Y/%m/%d %H:%M:%S"))

2019/11/04 14:53:00
2023/12/21 10:30:11

In [1]:
from datetime import timedelta

delta = timedelta(weeks=2, days=2, hours=3)
print(delta)

16 days, 3:00:00

In [2]:
from datetime import timedelta
from datetime import date
from datetime import datetime

delta = timedelta(weeks=2, days=2, hours=2)
print(delta)

delta2 = delta * 2
print(delta2)

d = date(2019, 10, 4) + delta2
print(d)

dt = datetime(2019, 10, 4, 14, 53) + delta2
print(dt)

16 days, 2:00:00
32 days, 4:00:00
2019-11-05
2019-11-05 18:53:00

In [1]:

from datetime import datetime

my_date = datetime(2020, 11, 4, 14, 53)

print(my_date.strftime("%Y/%m/%d %H:%M:%S"))
print(my_date.strftime("%y/%B/%d %H:%M:%S %p"))
print(my_date.strftime("%a, %Y %b %d"))
print(my_date.strftime("%A, %Y %B %d"))
print(my_date.strftime("Weekday: %w"))
print(my_date.strftime("Day of the year: %j"))
print(my_date.strftime("Week number of the year: %W"))

2020/11/04 14:53:00
20/November/04 14:53:00 PM
Wed, 2020 Nov 04
Wednesday, 2020 November 04
Weekday: 3
Day of the year: 309
Week number of the year: 44

In [2]:
import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [3]:
import calendar
print(calendar.month(2023, 12))

   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [4]:
import calendar
print(calendar.weekday(2023, 12, 25))

0

In [10]:
import calendar
print(calendar.weekheader(7))

  Mon     Tue     Wed     Thu     Fri     Sat     Sun

In [19]:
import calendar

print(calendar.isleap(2028))
print(calendar.leapdays(2010, 2030))

True
5

In [22]:
import calendar  

c = calendar.Calendar()

for date in c.itermonthdates(2023, 12):
    print(date, end=" ")

2023-11-27 2023-11-28 2023-11-29 2023-11-30 2023-12-01 2023-12-02 2023-12-03 2023-12-04 2023-12-05 2023-12-06 2023-12-07 2023-12-08 2023-12-09 2023-12-10 2023-12-11 2023-12-12 2023-12-13 2023-12-14 2023-12-15 2023-12-16 2023-12-17 2023-12-18 2023-12-19 2023-12-20 2023-12-21 2023-12-22 2023-12-23 2023-12-24 2023-12-25 2023-12-26 2023-12-27 2023-12-28 2023-12-29 2023-12-30 2023-12-31